*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    margin-top: 0;
}

h1{
    text-align: center;
    color: antiquewhite;
}
.cuerpo{
    background-image: url(./img/libreria.jpg);
    background-position: center;
    background-size: cover;
    min-height: 570px;
    color: antiquewhite;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
